h2 {
    color: #7c795d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    margin: 30px 0px;
}

p {
    font-size: 20px;
    text-align: justify;
}

h1 {
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 65px;
    font-weight: normal;
    line-height: 48px;
    margin: 24px 0;
    text-align: center;
    margin-top: 60px;
}

.opinionsContainer {
    border: solid 3px rgb(74, 133, 74);
    padding: 20px 20px 20px 20px;
    position: relative;
    width: 60%;
    margin: 20px auto;
    height: 730px;
    border-radius: 10px;
}

.opinion {
    position: relative;
    height: 100px;
    margin-top: 60px;
}

.opinion p {
    text-align: center;
    padding: 30px;
    font-size: 29px;
    font-weight: 800;
    font-style: italic;
}

.name {
    font-size: 19px;
    font-weight: 100;
    text-align: right;
}

.opinion img {
    float: left;
    margin: 10px;
    border-radius: 30px;
}