

.mainContent{
    overflow: auto;
    width: 90%; 
    margin: 30px auto; 
}

.rightSide{
    float: right;
    width: 60%;
    border-left: white 3px solid;
    margin: 30px;
    font-size: 30px;
    padding-left: 40px;
    transition: box-shadow 2s, background-color 2s, border 2s, color 1s;
}

.leftSide{
    width: 50%;
    font-size: 30px;
    float: left;
    border-right: white 3px solid;
    padding-right: 40px;
    margin: 30px;  
    transition: box-shadow 2s, background-color 2s, border 2s, color 1s;  
}

.rightSide:hover{
    box-shadow: rgb(76, 223, 108)  10px 12px 5px;
    border-left: black 3px solid;
    background-color: rgb(255, 255, 255);
    color: black;
}

.leftSide:hover{
    box-shadow: rgb(191, 223, 76)   -10px -12px 4px;
    border-right: black 3px solid;
    background-color: rgb(255, 255, 255);
    color: black;
}

.solutionContainer{
    width: 50%;
    font-size: 30px;
    float: left;
    border-right: white 3px solid;
    padding-right: 40px;
    margin: 30px;  
    transition: box-shadow 2s, background-color 2s, border 2s, color 1s; 
}

#solution{
    font-size: 40px;
    color: tomato;
    font-weight: 800;
}

#btn{
    overflow: auto;
    margin: 30px;
}

button{
    position: relative;
    left: 40%;
    width: 300px;
    height: 100px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 900;
    margin: 30px;
    border-radius: 30px;
    transition: all 1s;
}

button:hover{
    background-color: rgb(109, 216, 87);
    transform: scale(1.1);
}

.footer{
    background-color: cornsilk;
    color: black;
    height: 70px;
    font-size: 20px;
    white-space: pre;
    text-align: center;
    margin-top: 200px
}

