*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

body{
    background-color: black;
   
}

nav{
    margin: 20px auto;
    display: flex;
    border-bottom: 3px white outset;
    

    flex-wrap: wrap;
    flex-direction: column;
}

.logo{
    display: inline;  
    padding-left: 10px;  
}

.logo img{
    width: 100px;
}

.nav-links{
    width: 100%;
    text-align: right;
    position: absolute;
    top: 5%;
    font-size: 30px;
}

.nav-links ul li a{
    text-decoration: none;
    font-weight: bold;
}

nav li{    
    display: inline;
    margin: 30px;
}

a:hover{

}

a:link{

}

.mainText{
    text-align: center;
    font-size: 120px;
    font-weight: 900;
    color: tomato;
}